extends ../layout


block content

	h1.page-header= title
	if errors
		.alert.alert-danger
			ul.errors
					each error, i in errors
						li #{error.msg}
	form(action="/manage/categories/add", method='post', enctype='multipart/form-data')
		.form-group
			label Title
			input.form-control(type="text", name='title', placeholder='Enter Title')
		.form-group
			label Description
			textarea.form-control(name='description', placeholder='Enter Description')
		input.btn.btn-default(type="submit", value='Save', name='submit')
			
