extends ../layout


block content

	h1.page-header= title
	if errors
		.alert.alert-danger
			ul.errors
					each error, i in errors
						li #{error.msg}
	form(action="/manage/users/add", method='post', enctype='multipart/form-data')
		.form-group
			label Name
			input.form-control(type="text", name='name', placeholder='Enter Name')
		.form-group
			label Username
			input.form-control(type="text", name='username', placeholder='Username')
		.form-group
			label Password
			input.form-control(type="password", name='password', placeholder='Enter Password')
		.form-group
			label Confirm Password
			input.form-control(type="password", name='password2', placeholder='Confirm Password')
		.form-group
			label Email
			input.form-control(type="email", name='email', placeholder='Enter Email')
		.form-group
			label Profile Image
			input.form-control(type="file", name='profile_image')
		input.btn.btn-default(type="submit", value='Register', name='submit')
			
